# ============================================
# CONFIGURACIÓN DEL BACKEND
# ============================================
# docker compose lee este archivo para configurar PostgreSQL.
# Copiar como .env antes de ejecutar: docker compose up -d

DEBUG=False
SECRET_KEY=ProdusTI.2026&
ALLOWED_HOSTS=10.178.2.33,10.20.4.148,localhost,127.0.0.1,0.0.0.0

# Database PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=produs_db
DB_USER=produs_user
DB_PASSWORD=ProdusTI.2026&
DB_HOST=localhost
DB_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://10.178.2.33,http://10.20.4.148,http://localhost:5173,http://127.0.0.1:5173

# CSRF (muy importante para frontend)
CSRF_TRUSTED_ORIGINS=http://10.178.2.33,http://10.20.4.148,http://localhost:5173,http://127.0.0.1:5173

# JWT
JWT_ACCESS_TOKEN_LIFETIME_HOURS=8
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# HTTPS
USE_HTTPS=False
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# Gunicorn
GUNICORN_WORKERS=4
GUNICORN_BIND=0.0.0.0:8000
